svg {
  display: block;
  margin: auto;
}

.remove-all-margin{
    margin: 0 !important;
    padding: 5 !important;
}

#player_selector>.badge {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
